.panel_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
    gap: 10px;
    justify-content: center;
  }

  .box {
    flex: 0 0 calc(33.333% - 10px);
    background-color: #4f46e5;
    color: white;
    text-align: center;
    padding: 40px 0;
    font-size: 1.5rem;
    border-radius: 8px;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .top_right_container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  .last_update {
      font-size: 20px;
      color: #333;
  }
  .refresh_button {
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      height: 3em;
      width: 8em;
  }
  .refresh_button:hover {
      background-color: #45a049;
  }

  .header {
    text-align: center;
    font-size: 50px;
  }